body {
    margin: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    color: #3498db;
}

div {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
}

svg {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #777;
}
